.infoWindow {
  max-width: 400px;
}
.header {
  position: relative;
  height: 150px;
}
.logo {
  width: auto;
  padding: 10px;
  height: 100px;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#app, #map {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}
h1 {
  position: relative;
  transform: translateY(+50%);
}
.destination-reached {
  height: 150px;
}

/* Selected location bar at bottom */
.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  overflow: hidden;
  height: 100px;
}
.left {
  width: 80%;
  overflow: hidden;
  float: left;
}
.right {
  float: left;
}
