.mapiframe {
  width: 100%;
  height: 512px;
}
.header, .logo {
  display: table;
  height: 100px;
}
.logo {
  width: auto;
  padding: 10px;
}
/* #map {
  height: 100%;
  width: 100%;
} */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#app, #map {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}
