<div>
<template v-if="selectedExhibit">
  <template v-if="atDestination">
    <div class="row h-100 destination-reached">
      <div class="destination-reached-text">Bestemming bereikt!</div>
      <div class="col-4">
      </div>
      <div class="streetview-image col-3">
        <img v-bind:src="imageURL" >
      </div>
      <div class="col-3">
        <button class="btn btn-primary" v-on:click="nextDestination()">Volgende bestemming</button>
      </div>
    </div>
  </template>

  <div class="row h-100">
    <div class="col-2">
      <div class="selected-location-title">[[ selectedExhibit.formatted_address ]]</div>
      <br>
      <div class="selected-location-body">[[ selectedExhibit.infoText ]]</div>
    </div>

    <div class="col-2">
      <div class="selected-location-distance">
        [[ selectedExhibit.distance.duration.text ]] lopen
      <br>
        [[ selectedExhibit.distance.distance.text ]]
      </div>
    </div>
  </div>
</template>
</div>
